[core]
	excludesfile = ~/.gitignore_global
	editor = vi

[push]
	default = current

[pull]
	default = current
	rebase = true

[init]
	defaultBranch = main
[user]
	name = Brendon O'Laney
[help]
	autocorrect = prompt
