[core]
	excludesfile = /Users/bolny/.gitignore_global

[user]
	name = Brendon O'Laney
	email = brendon@brendonolaney.com

[github]
	user = bolny

[push]
	default = current

[pull]
	deafault = current

[init]
	defaultBranch = main
